# Rust / Cargo
/target/
**/target/
Cargo.lock

# Noir / ZK
decisions/
proofs/
target.json
circuits/**/target/

# Next.js / Node / Frontend
frontend/.next/
frontend/node_modules/
frontend/out/
frontend/build/
.env*.local
.npm/
node_modules


# OS / IDE
.DS_Store
.idea/
.vscode/
*.log
